bp/core/*/settings
bp/settings/*.lua
bp/helpers/settings
bp/helpers/moneyteam.lua
bp/helpers/empyrean.lua
bp/helpers/roboto.lua
bp/helpers/crafting.lua
bp/helpers/chests.lua
bp/helpers/roe.lua
bp/helpers/ui.lua